/*
input-style
button-style
select-style
hover-style
*/

:root {
    --mainTextColor-light: #000;
    --secondaryTextColor-light: rgb(51 51 51);
    --mainLinkColor-light: #0da2b8;
    --mainBorderColor-light: rgb(218, 218, 218);
    --mainBgColor-light: rgb(249, 250, 251);

    --mainTextColor-dark: #fff;
    --secondaryTextColor-dark: #adb0b1;
    --mainLinkColor-dark: rgb(30, 190, 214);
    --mainBorderColor-dark: #2b3031;
    --mainBgColor-dark: #131415;
}

/* * {
    color: var(--mainTextColor-light)
} */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #34495e;
}

h1 {
    color: var(--secondaryTextColor-light);
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #ecf0f1;
}

label {
    font-size: 14px;
}

.error {
    color: red;
}

#hint {
    font-size: 12px;
    font-weight: 300px;
    margin: 0;
    font-style: italic;
}

.form-title {
    background-color: var(--mainBorderColor-light);
    margin: 0;
    padding: 10px;
    font-size: 16px;

}

.input-style, .textarea-style {
    margin-top: 4px;
    padding: 5px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--mainBorderColor-light);
    border-radius: 5px;
    width: 98%;

}

.input-style:focus, .textarea-style:focus {
    border-color: var(--mainBorderColor-dark);
}

.form-style {
    padding: 20px;
}

.datatable-style {
    padding: 20px;
}

form .error {
    font-size: 14px;
}

.navbar {
    background-color: var(--secondaryTextColor-light);
    padding: 0 10px;
    top: 0;
    position: sticky;
    z-index: 1;
}

.topbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: 900;
    color: #ecf0f1;
}

.user_tool {
    font-size: 16px;
    color: #ecf0f1;
}

.sidebar {
    width: 200px;
    background-color: var(--mainBorderColor-dark);
    color: #ecf0f1;
    height: 100vh;
    position: fixed;
}

.SidebarContainer-flex {
    display: flex;
}

.container {
    flex: 1;
    padding: 10px 20px;
    margin-left: 200px;
    background-color: var(--mainBgColor-light);
}

.user_tool {
    cursor: pointer;
}

#user_tool_popup li {
    padding: 5px 10px;
}

.popup {
    display: none;
    position: fixed;
    right: 2%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.popup.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 350px;
    z-index: 1;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup.edit-account-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 350px;
    z-index: 1;
}


/* course.php */
.from_and_list_course-flex {
    display: flex;
    gap: 40px;
}

.course-form, .course-list {
    border: 1px solid var(--mainBorderColor-light);
    height: fit-content;
}

.course-form {
    width: 350px;
    top: 68px;
    position: sticky;
    height: fit-content;
}

.course-list {
    width: 715px;
}


/* subject.php */
.from_and_list_subject-flex {
    display: flex;
    gap: 40px;
}

.subject-form, .subject-list {
    border: 1px solid var(--mainBorderColor-light);
    height: fit-content;
}

.subject-form {
    width: 350px;
    top: 68px;
    position: sticky;
    height: fit-content;
}

.subject-list {
    width: 715px;
}
